{% extends 'base.html.twig' %}

{% block title %}
    Weather in {{ city|upper }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>{{ city|upper }}</h1>
        <h1>{{ avg_temp }} ℃</h1>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

