{% extends 'base.html.twig' %}

{% block title %}
    Weather in {{ city|upper }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="jumbotron">
        <div class="container">
            <h1>{{ city|upper }}</h1>
            <h1>{{ avg_temp }}</h1>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

