{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md">
            {{ form_start(form) }}
            <div class="form-group mb-2">
                {{ form_widget(form.city) }}
            </div>
            {{ form_widget(form.submit) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
