{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.uri is same as url('user_reports') %}
        {{ 'user reports'|trans({}, 'default') }}
    {% elseif app.request.uri is same as url('all_reports') %}
        {{ 'all reports'|trans({}, 'default') }}
    {% else %}
        {{ 'reports'|trans({}, 'default') }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'report.city' }}</th>
            <th scope="col">{{ 'report.avg_temp' }}</th>
            <th scope="col">{{ 'report.ip' }}</th>
            <th scope="col">{{ 'report.user' }}</th>
            <th scope="col">{{ 'report.createdAt' }}</th>
        </tr>
        </thead>
        <tbody>
        {% for report in pagination %}
            <tr>
                <th scope="row"> {{ loop.index }}</th>
                <td>{{ report.city }}</td>
                <td>{{ report.avgTemp }}</td>
                <td>{{ report.ip }}</td>
                <td>{{ report.createdBy }}</td>
                <td>{{ report.createdAt|date('d-m-Y H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


