{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.uri is same as url('user_reports') %}
        {{ 'user reports'|trans({}, 'default') }}
    {% elseif app.request.uri is same as url('all_reports') %}
        {{ 'all reports'|trans({}, 'default') }}
    {% else %}
        {{ 'reports'|trans({}, 'default') }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <p>{{ 'all counted reports'|trans({}, 'default') }}{{ pagination.getTotalItemCount }}</p>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'report.city'|trans({}, 'default') }}</th>
                    <th scope="col">{{ 'report.avg_temp'|trans({}, 'default') }}</th>
                    <th scope="col">{{ 'report.ip'|trans({}, 'default') }}</th>
                    <th scope="col">{{ 'report.user'|trans({}, 'default') }}</th>
                    <th scope="col">{{ 'report.createdAt'|trans({}, 'default') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for report in pagination %}
                    <tr>
                        <th scope="row"> {{ loop.index }}</th>
                        <td>{{ report.city }}</td>
                        <td>{{ report.avgTemp }} ℃</td>
                        <td>{{ report.ip }}</td>
                        <td>{{ report.createdBy }}</td>
                        <td>{{ report.createdAt|date('d-m-Y H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


