<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ 'last cities'|trans({}, 'default') }}</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'city'|trans({}, 'default') }}</th>
                    <th>{{ 'avg_temp'|trans({}, 'default') }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Nysa</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Opole</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Wrocław</td>
                    <td>6</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ 'last your checks'|trans({}, 'default') }}</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'city'|trans({}, 'default') }}</th>
                    <th>{{ 'avg_temp'|trans({}, 'default') }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Nysa</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Opole</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Wrocław</td>
                    <td>6</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>